* {
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;  
}


.logo {
    width: auto;
    height: 80px;
}

#search{
    background-color: #252525;
    padding: 10px;
    border-radius: 20px;
}

#search::placeholder{
    color: gray;
}
#search:focus{
    color: #FFFF;
}

.header{
    position: sticky;
    top: 0px;
}

.container{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.navegation{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 28px;
}

.lista{
    display: flex;
    align-items: center;
    gap: 30px;
}

.lista a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.lista a:hover{
    color: #FFFF;
}

@media only screen and (max-width: 695px) { /* (1197px to 992px) */
    .logo{
        width: auto;
        height: 40px;
    }
    #search{
        width: 100%;
        height: 30px;
    }
    .lista{
        width: 100%;
        gap: 10px;
    }

    .navegation{
        margin-right: 0px;
    }

    .lista a{
        font-size: 11px;
    }

    @media only screen and (max-width: 991px) { /* (991px to 601px) */
        /* HEADER */
        #search{
            width: 100%;
            height: 30px;
        }
    
        .lista{
            width: 100%;
        }
    }
    
}