* {
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
    list-style: none;
}

.logo {
    width: auto;
    height: 80px;
}

#search{
    background-color: #252525;
    padding: 10px;
    border-radius: 0px;
}

#search::placeholder{
    color: gray;
}
#search:focus{
    color: #FFFF;
}

.header{
    position: sticky;
    top: 0px;
}

.container{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.navegation{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 28px;
}

.divdiv{
    display: flex;
    justify-content: center;
}

.divdiv img{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.products{
    height: calc(100vh - 80px);
}

.camisaslist{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 50px;
}

.camisaslist img{
    margin-top: 120px;
    width: 100%;
    height: auto;
    max-width: 317px;
}

.pricelist{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 50px;
    font-weight: bold;
}

.pricelist2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 50px;
    margin-top: 5PX;
    font-weight: bold;
}
.titulo{
    margin: 28px;
}

.logofooter{
    width: auto;
    height: 80px;
    padding: 10px;
    margin-left: 10px;
}

.nas{
    color: #FFFF;
    padding: 20px;
}

.conatainerfooter{
    background-color: #000;
}

.copyright{
background-color: #000;
}

.copyright p{
    color: #FFFF;
    padding: 20px;
}

.linha{
    width: 50%;
    height: 1px;
}

.listfooter{
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.listfooter a{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

                       /* PAGINA LOGIN */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    gap: 10px;
  }

input[type="password"], input[id="inputs"]{
    background-color: white;
    height: 35px;
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
    color: #c4c4c4;
    box-shadow: 1px 1px 1px 1px #c4c4c4
  }
  
  input[type="date"]{
      color: #000;
  }

  input[type="password"]::placeholder, input[type="text"]::placeholder{
    color: #000;
  }
  
  input[type="password"]:focus, input[type="text"]:focus{
    outline: 0;
    border: 1px solid var(--border-primary);
  }
  
  input[type="submit"]{
    width: 320px;
    margin-top: 10px;
    height: 40px;
    border: 0;
    background-color: #000;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
  }  

  .infobox{
      font-size: 15px;
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }

  
  .infobox p {
    user-select: none;
  }
  
  .infobox p a{
    font-weight: bold;
    user-select: none;
    color: #000;
  }
  
  .get-app-panel{
    margin-top: 20px;
    text-align: center;
  }
  
  .app-buttons{
    margin-top: 16px;
  }
  
  .app-buttons img{
    height: 40px;
    padding: 0 2px;
} 

.checkbox1{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 10px;
}

.checkbox1 p{
    margin-left: 60px;
}

.spam{
    font-size: 10px;
    text-align: center;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 2px;
}
                  /* FIM PAGINA LOGIN */


                  /* PAGINA DE SIGN-UP */
.radio3{
    margin: 5px;
}
                  /* FIM DA PAGINA DE SIGN-UP */

                  /* PAGINA DE CONTATO */

.maincontacts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
                  
.perguntas{
    display: flex;
    width: 1000px;
    height: Calc(120vh - 80px);;
    margin: 30px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px 5px #c4c4c4;
    font-weight: bold;

}

.perguntas p{
    margin-bottom: 30px;
}

.contactbox{
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 1000px;
    height: 300px;
    margin: 40px;
    box-shadow: 2px 2px 5px 5px #c4c4c4;
}

.contactbox p{
    margin-top: 10px;
    font-weight: bold;
}

.titleperguntas{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 20px;
    background: none;
    border: none;
    border-bottom: 4px solid #000;
    
}

.titlefrequentes{
    margin-top: 20px;
    margin-bottom: 60px;
}

.perguntas p{
    margin-bottom: 80px;
    color: gray;
}

.perguntas h3{
    margin-top: 30px;
    margin-bottom: 10px;
}

.perguntas h2{
    margin-top: 30px;
}

.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 97px;
}

.insta{
    margin-top: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wats{
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about{
    display: flex;
    justify-content: center;
}

.productspage{
    display: flex;
    flex-direction: row;
}

.priceproduct{
    display: flex;
    margin-top: 300px;
    flex-direction: column;
}

.tamanhoswid{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 200px;
}

.divss{
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    justify-items: center;
    gap: 10px;
    margin-top: 5PX;
    font-weight: bold;
}

.inputsdivs input{
    width: 100px;
}

.caminhocarrinho input{
    width: 150px;
    font-size: 10px;
}

.inputsdivs{
    gap: 10px;
    display: flex;
    margin-top: 10px;
}

.divss p{
    text-align: center;
    margin-top: 5px;
}

.div11{
    width: 60px;
    height: 30px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}

.div22{
    width: 60px;
    height: 30px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}

.div33{
    width: 60px;
    height: 30px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}

.div44{
    width: 60px;
    height: 30px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}

.div55{
    width: 60px;
    height: 30px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}

.div66{
    width: 60px;
    height: 30px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}
.filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    margin: 40px;
    gap: 30px;
    font-weight: bold;
    margin-top: 100px;
    
}


.colors button{
    width: 20px;
    height: 20px;
    border: 1px solid none;
    border-radius: 100%;
    margin-top: 20px;
}

.colors{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
}

.priceeee{
    width: 300px;
    height: 170px;
}

.sizebuttons button{
    background-color: white;
    width: 30px;
    height: 20px;
    margin-top: 30px;
    margin-left: 3px;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
    
}

.sizebuttons{
    justify-content: center;
    width: 100%;
    height: 140px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
}

.rosabutton{
    background-color: #AD1C93;
}

.pretobutton{
    background-color: #000;
}


.twoproducts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 170px;
    margin-right: 200px;

}

.order{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    gap: 150px;

}



.twoproducts img{ 
    margin-top: 80px;
    width: 100%;
    height: auto;
    max-width: 317px;
}

.catalogo{
    margin-left: 500px;
    justify-content: center;
    height: calc(100vh - 80px); 
}

.ordenarr{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;

}

.setinha{
    margin-top: 85px;
}

.orderm{
    margin-top: 81px;
    margin-left: 5px;
    margin-right: 5px;
    color: #c4c4c4;
}

.pricelistproducts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 180px;
    font-weight: bold;
    margin-right: 200px;
}

.pricelistproducts2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 180px;
    margin-top: 5PX;
    font-weight: bold;
    margin-right: 200px;
}

.priceeee{
    margin-top: 30px;
    margin-bottom: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
}

.titlefilters{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #000;
}

.camisetaicon{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px); 
}

.containercamiseta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camisetarosali{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 160px;
    margin-bottom: 320px;
}

.maincarrinho{
    height: calc(100vh - 80px); 
}

.listacarrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 60px;
}

.carrinholi{
    text-align: center;
    
}

.productslistacar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding-right: 40px;
}

.productslistacar button{
    width: 30px;
    height: 30px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}

.carrinholi img{
    margin-left: 5px;
}

.carrinholi h5{
    margin-top: 50px;
    margin-left: 0px;
}

.pricecar{
    font-weight: bold;
    margin-top: 50px;

}

.vouchers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.value{
    margin-right: 50px;
}

.itensdocarrinho{
    justify-content: space-between;
    margin: 60px;

}

.voucherscontainer{
    margin: 100px;
}

.totalcar{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 260px;
    background-color: #F7F7F7;
}

.submitcar input{
    margin-top: 65px;
}

.totalcar h5{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    
}

.cupomtext{
    width: 200px;
    height: 40px;
    background-color: #FFFF;
    margin-right: 20px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}

.fretetitle{
    width: 200px;
    height: 40px;
    background-color: #ffff;
    margin-right: 20px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}

input[id="fretebutton"]{
    width: 200px;
    height: 40px;
}

input[id="aplicarbutton"]{
    width: 200px;
    height: 40px;
}

.containerpagamento{
    display: flex;
    flex-direction: row;
    margin: 60px;
    height: 800px;
}

.containerproductss{
    display: flex;
    flex-direction: row;
}

.licamiseta{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;

}

.licamiseta h5{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 60px;

 
}

.titleeeee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagamentcontainer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.containerpro{
    display: flex;
    flex-direction: column;
}

.divcard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    width: 600px;
    height: 100px;
    background-color: #F7F7F7;
}

.divcard2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    margin-left: 200px;
    width: 600px;
    height: 100px;
    background-color: #F7F7F7;
}

.divcard3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    margin-left: 200px;
    width: 600px;
    height: 100px;
    background-color: #F7F7F7;
}

.totalcar2{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 340px;
    background-color: #F7F7F7;
    margin-top: 20px;
    margin-left: 160px;
}

.totalcar2 h5{
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    
}

.logoconfirmation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmationpage{
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.coluna1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pedidonumber{
    margin-left: 50px;
    text-align: center;
    margin-top: 60px;
    margin-right: 60px;
}

.correctdiv img{
    margin-right: 0px;
    margin-top: 55px;
}

.received{
    display: flex;
    margin-top: 60px;
    margin-right: 60px;
    text-align: center;

}

.progress{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.agradecimento{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.camisarosaconfirmation{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}


.resume{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.yourpedido{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.pedid{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 300px;
}

.pixzinho{
    margin-left: 60px;
    margin-top: 20px;
}

.drihyinformation{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;

}

.pricefinal{
    margin-top: 35px;
    margin-right: 30px;
}

.progress a{
    font-weight: bold;
    user-select: none;
    color: #c4c4c4;
}

.mainmy{
    display: flex;
    height: 800px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.window1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    flex-direction: column;
    display: flex;
    width: 400px;
    height: 200px;
    list-style: circle;
}

.window2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F7F7;
    display: flex;
    width: 400px;
    height: 200px;
    margin-top: 50px;
}

.window3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    display: flex;
    width: 400px;
    height: 200px;
}

.window4{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F7F7;
    display: flex;
    width: 400px;
    height: 200px;
    margin-top: 50px;
    list-style: circle;
}

.titleconta{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.tamanhoswid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navdiv a {
    color: gray;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .navdiv a:hover {
      color: #fff;
  }
  
  .carrinhofuncao img{
      width: 100%;
      height: 30px;
      
      
  }
  
  .nav-list{
      font-size: 14px;
      margin-right: 100px;
      margin-left: 50px;
  
  }
  
  .carrinhofuncao{
      margin-left: 20px;
  }
  
  .navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  .carrinhoresponsive{
      font-size: 0;
  }

  html, body {
    position:relative;
    overflow-x:hidden;
  }

  .responsiveabout{
    font-size: 0;
}


                  /* FIM DA PAGINA DE CONTATO */

                  /* RESPONSIVIDADE */

                  /* RESPONSIVIDADE HEADER */

@media only screen and (max-width: 1366px){

    html, body {
        position:relative;
        overflow-x:hidden;
      }

    #search{
        display: none;
        width: 0;
        height: 0;
        background-color: none;
        padding: 0;
    }

    .logo{
        display: flex;
        align-self: center;
    }

    .carrinhofuncao{
        margin-top: 10px;
    }

    .carrinhofuncao img{
       display: none;
       margin-bottom: 10px;
    }

    .navegation{
        display: flex;
    }

    .divdiv img{
        width: 100%;
    }

      .carrinhofuncao{
          display: none;
      }
    
      
      .carrinhoresponsive{
        font-size: 14px;
      }
    
      #search{
        display: none;
        width: 0;
        height: 0;
        background-color: none;
        padding: 0;
    }
    
      .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #000;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        margin-right: 0px;
      }
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }
      .mobile-menu {
        display: block;
      }
    }
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }

            /* FIM RESPONSIVIDADE HEADER */


            /* RESPOSIVIDADE PAGINA SOBRE */
@media only screen and (max-width: 1369px){
    .about img{
        width: 100%;
        height: auto;
    }

    .about{
        height: calc(100vh - 80px);
    }

    

@media only screen and (max-width: 900px){
    .about img{
        width: 100%;
        height: 620px;
    }

    .about{
        height: calc(90vh - 80px);
    }
    

    

}

@media only screen and (max-width: 715px){
.about img{
    display: none;
}

.about{
    width: 100%;
    height: calc(100vh - 80px);

}

.responsiveabout{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 12px;
}
.responsiveabout h3{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}


@media only screen and (max-width: 669px){
    .about img{
        display: none;
    }

    .about{
        width: 100%;
        height: calc(100vh - 80px);

    }

    .responsiveabout{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 12px;
    }
    .responsiveabout h3{
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    
}

        /* FIM RESPOSIVIDADE PAGINA SOBRE */

        /* RESPOSIVIDADE PAGINA PRODUTOS */
 @media only screen and (max-width: 1650px){
    .twoproducts img{
        width: 1000px;
    }

    
}

        /* RESPOSIVIDADE PAGINA CONTATO */
@media only screen and (max-width: 1020px){
    .perguntas{
        width: 900px;
    }
      
    .contactbox{
        width: 900px;
    }

    
}

@media only screen and (max-width: 920px){
    .perguntas{
        width: 800px;
    }
      
    .contactbox{
        width: 800px;
    }



@media only screen and (max-width: 820px){
    .perguntas{
        width: 650px;
        height: 150vh;
    }
      
    .contactbox{
        width: 650px;
    }

    .contactbox img{
        width: 30px;
        height: 30px;
    }
    .contactbox p{
        font-size: 12px;
    }
    
}

@media only screen and (max-width: 620px){
    .perguntas{
        width: 300px;
        height: 150vh;
        font-size: 12px;
    }
      
    .contactbox{
        width: 300px;
        gap: 20px;
    }

    .contactbox img{
        width: 20px;
        height: 20px;
    }

    .contactbox p{
        font-size: 8px;
    }

    .pricelist{
        text-align: center;
    }

    

}


    /* FIM RESPOSIVIDADE PAGINA CONTATO */

     /* RESPOSIVIDADE PAGINA CAMISETA */
@media only screen and (max-width: 1400px){
        .fretetitle input{
            width: 20px;
            height: 20px;
        }

}

@media only screen and (max-width: 999px){
    .maincarrinho{
        height: calc(100vh - 80px); 
    }
    
    .listacarrinho {
        margin: 10px;
        justify-content: space-around;
        
    }
    
    .carrinholi{
        display: flex;
        
    }
    
    .productslistacar{
        display: flex;
        flex-direction: row;
    }
    
    .carrinholi img{
        margin-right: 75px;
    }
    
    .carrinholi h5{
        margin-top: 50px;
        margin-left: 30px;
    }
    
    .diminuir{
        width: 40px;
        height: 30px;
        margin-left: 460px;
        margin-top: 50px;
        box-shadow: 1px 1px 1px 1px #c4c4c4;
    
    }
    
    .number1{
        width: 30px;
        height: 30px;
        margin-top: 50px;
        box-shadow: 1px 1px 1px 1px #c4c4c4;
    
    }
    
    .somar{
        width: 40px;
        height: 30px;
        margin-top: 50px;
        box-shadow: 1px 1px 1px 1px #c4c4c4;
    
    }
    
    .totalcar{
        width: 10px;
        height: 10px;
    }
    
    .pricecar{
        font-weight: bold;
        margin-top: 50px;
        margin-left: 930px;
        
        display: flex;
    }
    
    .vouchers{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .value{
        margin-right: 10px;
    }
    
    .itensdocarrinho{
        margin: 60px;
    
    }
    
    .voucherscontainer{
        margin: 50px;
    }

    .voucherscontainer h3{
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    .totalcar{
        display: flex;
        flex-direction: column;
        width: 180px;
        height: 260px;
        background-color: #F7F7F7;
    }

    input[id="submitcarrinho"]{
        width: 180px;
        height: 70px;
    }
    
    .submitcar input{
        margin-top: 65px;
    }
    
    .totalcar h5{
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        
    }
    
    .cupomtext{
        width: 100px;
        height: 40px;
        background-color: #FFFF;
        margin-right: 20px;
        text-align: center;
        box-shadow: 1px 1px 1px 1px #c4c4c4;
    }
    
    .fretetitle{
        width: 100px;
        height: 40px;
        background-color: #ffff;
        margin-right: 20px;
        text-align: center;
        box-shadow: 1px 1px 1px 1px #c4c4c4;
    }
    
    input[id="fretebutton"]{
        width: 100px;
        height: 40px;
    }
    
    input[id="aplicarbutton"]{
        width: 100px;
        height: 40px;
    }
}
}
}
@media only screen and (max-width: 820px){
    .listacarrinho{
        font-size: 10px;
    }

    .carrinholi img{
        width: 80px;
        height: 80px;
    }

    .carrinholi h5{
        font-size: 10px;
    }


    .responsividadecarrinho img{
        width: 15px;
        height: 15px;
    }

    .responsividadecarrinho h3{
        font-size: 12px;
    }

    input[id="fretebutton"]{
        width: 100px;
        height: 40px;
    }
    
    input[id="aplicarbutton"]{
        width: 100px;
        height: 40px;
    }

    .totalcar{
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 280px;
        background-color: #F7F7F7;
    }

    input[id="submitcarrinho"]{
        width: 300px;
        height: 70px;
    }

    .cupom{
        font-size: 10px;
    }

    .fretecalculator{
        font-size: 10px;
    }

    input[class="fretetitle"]{
        width: 150px;
        margin-top: 10px;
    }
    input[class="cupomtext"]{
        width: 150px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 712px){
    .listacarrinho{
        font-size: 7px;
        margin: 0px;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 60px;
    }

    .carrinholi img{
        width: 80px;
        height: 80px;
        margin: 0px;
    }

    .carrinholi h5{
        font-size: 7px;
        margin-right: 50px;
        margin-top: 20px;
    }

    .responsividadecarrinho{
        margin-left: 50px;
    }

    .responsividadecarrinho img{
        width: 15px;
        height: 15px;
    }

    .responsividadecarrinho h3{
        font-size: 12px;
    }

    input[id="fretebutton"]{
        width: 80px;
        height: 40px;
    }
    
    input[id="aplicarbutton"]{
        width: 80px;
        height: 40px;
    }

    .totalcar{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 280px;
        background-color: #F7F7F7;
    }

    input[id="submitcarrinho"]{
        margin-top: 100px;
        width: 330px;
        height: 70px;
    }

    .cupom{
        font-size: 10px;
    }

    .fretecalculator{
        font-size: 10px;
    }

    input[class="fretetitle"]{
        width: 100px;
        margin-top: 10px;
    }
    input[class="cupomtext"]{
        width: 100px;
        margin-top: 10px;
    }

    
}


@media only screen and (max-width: 635px){
    input[id="submitcarrinho"]{
        margin-top: 100px;
        width: 180px;
        height: 70px;
    }
    
    .totalcar{
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 280px;
        background-color: #F7F7F7;
    }

    .productslistacar button{
        width: 20px;
        height: 20px;
        background-color: #FFF;
        box-shadow: 1px 1px 1px 1px #c4c4c4;
    }
}


@media only screen and (max-width: 414px){
    
    .totalcar{
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 160px;
        background-color: #F7F7F7;
    }

    .carrinholi img{
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }
    .carrinholi h5{
        font-size: 5px;
        margin-bottom: 20px;
    }

    .listacarrinho{
        gap: 30px;
        margin-right: 20px;
        margin-bottom: 30px;
    }

    .totalcar h5{
        font-size: 8px;
    }

    .productslistacar button{
        width: 10px;
        height: 20px;
        background-color: #FFF;
        box-shadow: 1px 1px 1px 1px #c4c4c4;
    }

    input[id="submitcarrinho"]{
        margin-top: 10px;
        width: 80px;
        height: 30px;
        font-size: 8px;
    }

    input[class="fretetitle"]{
        width: 100px;
        margin-top: 10px;
        font-size: 10px;
    }
    input[class="cupomtext"]{
        width: 100px;
        margin-top: 10px;
        font-size: 10px;
    }
    input[id="fretebutton"]{
        width: 80px;
        height: 40px;
        font-size: 10px;
    }
    
    input[id="aplicarbutton"]{
        width: 80px;
        height: 40px;
        font-size: 10px;
    }

    .productslistacar{
        width: 100%;
        height: 60px;
    }

    .responsividadecarrinho{
        margin-left: 70px;
    }

    .responsividadecarrinho h3{
        font-size: 8px;
    }
}

}