* {
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;  
}

.logo {
    width: auto;
    height: 80px;
}

#search{
    background-color: #252525;
    padding: 10px;
    border-radius: 20px;
}

#search::placeholder{
    color: gray;
}
#search:focus{
    color: #FFFF;
}

.header{
    position: sticky;
    top: 0px;
}

.container{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.navegation{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 28px;
}

.lista{
    display: flex;
    align-items: center;
    gap: 30px;
}

.lista a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.lista a:hover{
    color: #FFFF;
}

.divdiv{
    display: flex;
    justify-content: center;
}

.divdiv img{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.camisaslist{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 50px;
}

.camisaslist img{
    width: 100%;
    height: auto;
    max-width: 317px;
}

.titulo{
    margin: 28px;
}

.logofooter{
    width: auto;
    height: 80px;
    padding: 10px;
    margin-left: 10px;
}

.nas{
    color: #FFFF;
    padding: 20px;
}

.conatainerfooter{
    background-color: #000;
}

.copyright{
background-color: #000;
}

.copyright p{
    color: #FFFF;
    padding: 20px;
}

.linha{
    width: 50%;
    height: 1px;
}

.listfooter{
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.listfooter a{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
